<div class="d-flex justify-content-center"><br/>
	<h1 class="" id="header" style="position:relative">About</h1>
</div>
<div class="wrapper-about container">
	<div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4 links-in-text section-about">
		<h3>About Holidays Management System</h3>
		<p>The Holidays Management System has been developed to help employees apply for and managers manage their holidays. 
		You can apply for holidays without making an appointment with your manager; simply fill in the <%= link_to "Holiday Request Form", new_event_path %> to be processed. 
		Once approved by the manager, the annual leave with the employee's name will appear in the appropriate place on the <%= link_to "Calendar", home_calendar_path %>.
		</p>
		<hr />
	</div>
	<div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4 section-about">
		<h3>Terms of application for annual leave.</h3>
		<ul>
			<li>You are entitled to 20 days of holiday per year.</li>
			<li>Holiday may not be granted when:</li>
				<ul>
					<li>The request for holiday is sent too late. Please give the manager at least 2 days to review the request.</li>
					<li>You do not have enough holidays left to cover the requested period.</li>
				</ul>
			<li>During the peak season, a limited number of employees can take holidays. Each case will be considered individually.</li>
			<li>In the event of emergencies or other special circumstances, please provide the relevant information in the Notes field.</li>
			<li>If you are unable or unwilling to complete a holiday request form, please make an appointment with your manager.</li>
		</ul>
		<hr />
	</div>
	<div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4 section-about">
		<h3>How does it work?</h3>
		<ol>
			<li>Log in.</li>
			<li>Check the Holidays Calendar for available dates.</li>
			<li>Fill in the Holiday Requests form.</li>
			<li>Wait for approval.</li>
			<li>Your holiday will appear on the calendar once granted.</li>
		</ol>
		<hr />
	</div>
	<% if user_signed_in? && current_user.admin == true %>
		<div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4 section-about">
			<h3>How to put holidays on the calendar?</h3>
			<ol>
				<li>Check the Holiday Requests page for new entries.</li>
				<li>Check the Holidays Calendar, it will help you decide whether to grant a holiday.</li>
				<li>If granted, place the holiday on the Holidays Calendar by completing the New Holiday form.</li>
				<li>The new holiday will appear on the Holidays Calendar.</li>
			</ol>
			<hr />
		</div>
	<% end %>
	<% if user_signed_in? && current_user.admin == false %>
		<div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4 links-secondary">
			<%= link_to "Create Holiday Request", new_event_path %>
		</div>
	<% end %>
</div>
<script> 
$(document).ready(function(){
    $("#header").animate({bottom: '40px'}, 600);
  });
</script>
