<div class="wrapper-about container">
	<h3>About Holidays Management System</h3>
	<p>The Holidays Management System has been developed to help employees apply for and managers manage their holidays. You can apply for holidays without making an appointment with your manager; simply fill in the <%= link_to "Holiday Request Form", new_event_path %> to be processed. Once approved by the manager, the annual leave with the employee's name will appear in the appropriate place on the <%= link_to "Calendar", home_calendar_path %>.
	</p>
	<h3>How does it work?</h3>
	<h5>1. Log in.</h5>
	<h5>2. Check the Holidays Calendar for available dates.</h5>
	<h5>3. Fill in the Holiday Requests form.</h5>
	<h5>4. Wait for approval.</h5>
	<h5>5. Your holiday will appear on the calendar once granted.</h5>

	<% if user_signed_in? && current_user.admin == true %>
		<h3>How to put holidays on the calendar?</h3>
		<h5>1. Check the Holiday Requests page for new entries.</h5>
		<h5>2. Check the Holidays Calendar, it will help you decide whether to grant a holiday.</h5>
		<h5>3. If granted, place the holiday on the Holidays Calendar by completing the New Holiday form.</h5>
		<h5>4. The new holiday will appear on the Holidays Calendar.</h5>
	<% end %>

	<h3>Rules for applying for annual leave.</h3>
	<ul>
		<li>Holiday may not be granted when:</li>
			<ul>
				<li>The request for leave is sent too late. Please give the manager at least 2 days to review the request.</li>
			</ul>
	</ul>
</div>
