<div class="container">
  <h3>Calendar</h3>
  <% if !user_signed_in? %>
    <p>You must be <%= link_to "logged in", new_user_session_path %> to see the entries in the Calendar.</p>
  <% end %>

  <div id="calendar"></div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        displayEventTime: false,
        navLinks: true, // can click day/week names to navigate views
        selectable: true,
        selectMirror: true,
        events: '/requests.json',
        editable: true,
        dayMaxEvents: true, // allow "more" link when too many events
      });
      calendar.render();
    });

  </script>
</div>