<div class="container wrapper-calendar mb-4">
  <div id="header" class="d-flex justify-content-between mb-4" style="position:relative">
    <% if !user_signed_in? %>
      <h1>Holidays Calendar</h1>
      <p>You must be <%= link_to "logged in", new_user_session_path %> to see the entries in the Calendar.</p>
    <% else %>
      <% if current_user.admin == true %>
          <h1>Holidays Calendar</h1>
          <div>
            <%= link_to 'Add Holiday', requests_path, class:"btn btn-calendar"%>
          </div>
      <% else %>
          <h1>Holidays Calendar</h1>
          <div>
            <%= link_to 'Create Holiday Request', new_event_path, class:"btn btn-calendar"%>
          </div>
      <% end %>
    <% end %>
  </div>
  <div id="calendar"></div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      
      if (window.innerWidth >= 990 ){
        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          displayEventTime: false,
          navLinks: true, // can click day/week names to navigate views
          selectable: true,
          selectMirror: true,
          events: '/requests.json',
          editable: true,
          dayMaxEvents: true, // allow "more" link when too many events
        });
      }
      else{
        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: '',
            right: 'title'
          },
          displayEventTime: false,
          navLinks: true,
          selectable: true,
          selectMirror: true,
          events: '/requests.json',
          editable: true,
          dayMaxEvents: true, 
        });
      }
      calendar.render();
    });

  </script>
</div>
<script> 
  $(document).ready(function(){
    $("#header").animate({bottom: '40px'}, 600);
  });
</script>