<h1 class="col-md-10 col-lg-8 col-xl-6 mx-auto mb-4">Edit Holiday Request</h1>

<%= render "form", event: @event %>

<br>

<div class="col-md-10 col-lg-8 col-xl-6 mx-auto mb-4 links-secondary">
  <%= link_to "Show This Holiday Request", @event %> 
  <%= link_to "Back To Holiday Requests", events_path %>
</div>
