<h1 class="col-md-10 col-lg-8 col-xl-6 mx-auto mb-4">Edit Approved Holiday</h1>

<%= render "form", request: @request %>

<br>

<div class="col-md-10 col-lg-8 col-xl-6 mx-auto mb-4 links-secondary">
  <%= link_to "Show This Holiday", @request %> 
  <%= link_to "Back To Approved Holidays", requests_path %>
</div>
