<h1>Editing Approved Holiday</h1>

<%= render "form", request: @request %>

<br>

<div>
  <%= link_to "Show This Holiday", @request %> |
  <%= link_to "Back To Approved Holidays", requests_path %>
</div>
