<p style="color: green"><%= notice %></p>

<h1>Approved Holidays</h1>

<%= link_to "Add Holiday To Calendar", new_request_path %>

<div id="requests">
  <% @requests.each do |request| %>
    <%= render request %>
    <p>
      <%= link_to "Show This Holiday", request %>
    </p>
  <% end %>
</div>


