
<%= render @request %>

<div>
  <%= link_to "Edit This Holiday", edit_request_path(@request) %> |
  <%= link_to "Back to Approved Holidays", requests_path %>

  <%= button_to "Delete this Holiday", @request, method: :delete %>
</div>
