$primary-color: #f4c430;
$secondary-color: #495057;
$additional-color: #77b5fe;
$btn-action-color: #A52A2A;
$bootstrap-light-color: #f8f9fa;

.wrapper-home{
    background-image: url("home-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}
.wrapper-about{
    margin-bottom: 40px;;
}
.wrapper-requests, .wrapper-approved{
    min-height: 60vh;
}
.section-about{
    padding-bottom: 60px;
}
.logo-header{
    margin-right: 30px;
}
.logo-footer{
    margin-right: 35px;
}

.btn-lg-primary{
    background-color: $primary-color;
    border: 2px solid $secondary-color;
    margin: 50px;
    padding: 15px;
    min-width: 15%;
    a{
        color: $secondary-color;
        text-decoration: none;
        &:hover{
            color: $primary-color;
        }
    }
    &:hover{
        background-color: $secondary-color;
        border: 2px solid $primary-color;
        a{
            color: $primary-color;
        }
    }
}
.btn-sm-primary{
    background-color: $secondary-color;
    border: 1px solid $primary-color;
    color: $primary-color;
    font-weight: bold;
    &:hover{
        background-color: $primary-color;
        color: $secondary-color;
        font-weight: bold;
    }
}
.page-navbar{
    font-weight: bold;
    a:hover{
        color: $primary-color;
    }
}
.navbar-text{
    font-size: 1.2em;
    color: $btn-action-color;
    text-shadow: 0px 0px 1px $primary-color;
    text-align: center;
}
.links-primary{
     a{
        color: $additional-color;
        text-decoration: none;
        &:hover{
            color: $bootstrap-light-color;
        }
     }
}
.links-secondary{
    a{
        color: $secondary-color;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        padding: 8px;
        &:hover{
            background-color: $primary-color;
        }
    }
}
.links-in-text{
    a{
        color: $additional-color;
        text-decoration: none;
        &:hover{
            color: $secondary-color;
        }
    }
}
.calendar-link{
    border: 1px solid $secondary-color;
    border-radius: 5px;
    margin-left: 10px;
}
.btn-s-media{
    border: 1px solid $secondary-color;
    color: $bootstrap-light-color;
    &:hover{
        border: 1px solid $primary-color;
    }
}
.btn-s-media-google{
    &:hover{
        border: 1px solid #fbbc05;
    }
}
.btn-calendar{
    background-color: $btn-action-color;
    color: $bootstrap-light-color;
    font-weight: bold;
    &:hover{
        background-color: transparent;
        color: $btn-action-color;
    }
}
.min-vh{
    height: 60vh;
}
.pictures-credits{
    font-size: 70%;
    color: $bootstrap-light-color;
    a{
        color: $bootstrap-light-color;
    }
}

@media only screen and (max-width: 990px) {
    .navbar-text{
        display:none;
    }
}